{% extends "base.html" %}

{% block title %} 关于我们 - 雅知期刊查询 {% end %}

{% block main %}
<div class="units-row">
	<div class="unit-30">
		<div class="nav nav-stacked">
			<ul>
				<li class="active"><a>关于我们</a></li>
				<li><a href="/page/contact">联系我们</a></li>
				<li><a href="/page/fadeback">意见反馈</a></li>
			</ul>
		</div>
	</div>
	<div class="unit-70">
		<p>雅知期刊查询, 网站创建于2014年3月, 于2014年4月1日正式上线, 雅知期刊查询主要帮助科研学者查询SCI期刊影响因子, 除了能查询期刊年度影响因子外, 还能查询期刊的历年影响因子及其他详细信息, 比如: 期刊所属分类、 在分类中的排名、期刊ISSN号及缩写、语言、所属国家、发行出版社和出版计地址等相关信息, 同时本站还提供一些统计相关数据。</p>
		<p>本站所有数据均来源于全球领先的商务和专业智能信息提供商汤森-路透 (Thomson Reuters)知识产权与科技部发布的期刊引用报告(Journal Citation Reports®, JCR), 汤森路透是由由加拿大汤姆森公司(The Thomson Corporation)与英国路透集团(Reuters Group PLC)合并组成的, 目前集团已成为全球领先的跨金融、法律、税务、财会、科学研究、医疗保健和媒体领域的专业信息供应商。</p>
	</div>
</div>
{% end %}