{% extends "base.html" %}

{% block title %} {{ j.title }} 影响因子 {% end %} - 雅知期刊查询

{% block header %}
<script src="{{ static_url("js/highcharts.js") }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	new Highcharts.Chart({
		chart: {
			renderTo: 'hc-factor',
			type: 'spline',
		},
		colors: ["#7cb5ec", "#90ed7d"],
		title: {
			text: "历年影响因子"
		},
		legend: {
			enabled: true,
			margin: 25
		},
		tooltip:{
			crosshairs: {
				width: 1,
				color: '#ccc',
				dashStyle: 'shortdot'
			},
		},
		xAxis: {
			categories: [{{ j.history.year }}],
			labels:{y:25},
			tickmarkPlacement: 'on'
		},
		yAxis: {
			title: {
				text: null
			},
			gridLineColor: "#ccc"
		},
		series:[{
			name: '影响因子',
			data: [{{ j.history.factor }}],
		},
		/*
		{
			name: '5年影响因子',
			data: [{{ j.history.fiveFactor }}],
		}*/
		],
		credits: {
			enabled: false
		}
	});

	new Highcharts.Chart({
		chart: {
			renderTo: 'hc-cite',
			type: 'column',
		},
		colors: ["#90ed7d"], //["#434348"]
		title: {
			text: "历年文章引用次数"
		},
		legend: {
			enabled: true,
			margin: 25
		},
		tooltip:{
			
		},
		xAxis: {
			categories: [{{ j.history.year }}],
			labels:{y:25},
			tickmarkPlacement: 'on'
		},
		yAxis: {
			title: {
				text: null
			},
			gridLineColor: "#ccc"
		},
		series:[
		{
			name: '引用次数',
			data: [{{ j.history.cites }}],
		}
		],
		credits: {
			enabled: false
		}
	});

	new Highcharts.Chart({
		chart: {
			renderTo: 'hc-article',
			type: 'column',
		},
		colors: ["#f7a35c"],
		title: {
			text: "历年文章数"
		},
		legend: {
			enabled: true,
			margin: 25
		},
		tooltip:{
			
		},
		xAxis: {
			categories: [{{ j.history.year }}],
			labels:{y:25},
			tickmarkPlacement: 'on'
		},
		yAxis: {
			title: {
				text: null
			},
			gridLineColor: "#ccc"
		},
		series:[{
			name: '文章数',
			data: [{{ j.history.articles }}],
		}
		],
		credits: {
			enabled: false
		}
	});
});
</script>
<style type="text/css">
.focus-button{
	text-decoration: none;
	font-size: 12px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 3px 5px;
	border-radius: 3px;
	margin-left: 5px;
}
.focus-info{
	font-size: 13px;
}
#highchart-container{
	width: 100%;
}
.comment-no-login{
	text-align: center;
	padding: 20px;
	line-height: 30px;
}

</style>
{% end %}

{% block main %}

<div class="units-row">
	<div class="unit-100">
		<table class="table-bordered width-100">
			<tr>
				<th colspan="2">
					{{ j.title }}
					<div class="right focus-info">
						<span class="color-gray-light">{{ clickNum }} 次浏览</span>
						{% if j.homepage %}
						<a href="{{ j.homepage }}" class="focus-button">官网</a>
						{% end %}
						{% if j.guideLink %}
						<a href="{{ j.guideLink }}" class="focus-button">投稿须知</a>
						{% end %}
					</div>
				</th>
			</tr>
			<tr>
				<td>
					<strong>JCR缩写</strong> <i>JCR abbreviation</i>
				</td>
				<td>{{ j.abbrev }}</td>
			</tr>
			<tr>
				<td>
					<strong>ISO缩写</strong>
					<i>ISO abbreviation</i>
				</td>
				<td>{{ j.isoAbbrev }}</td>
			</tr>
			<tr>
				<td>
					<strong>出版号</strong>
					<i>ISSN</i>
				</td>
				<td>{{ j.issn }}</td>
			</tr>
			<tr>
				<td>
					<strong>出版周期</strong>
					<i>Issues/Year</i>
				</td>
				<td>{{ j.issue }}</td>
			</tr>
			<tr>
				<td>
					<strong>影响因子</strong>
					<i>Impact factor</i>
				</td>
				<td><b>{{ j.factor }}</b></td>
			</tr>
			<tr>
				<td>
					<strong>5年影响因子</strong>
					<i>5 year impact factor</i>
				</td>
				<td>{{ j.fiveFactor }}</td>
			</tr>
			<tr>
				<td>
					<strong>半衰期</strong>
					<i>Cited halflife</i>
				</td>
				<td>{{ j.halfLife }}</td>
			</tr>
			<tr>
				<td>
					<strong>文章数</strong>
					<i>Articles</i>
				</td>
				<td>{{ j.articles }}</td>
			</tr>
			<tr>
				<td>
					<strong>引用次数</strong>
					<i>Total cites</i>
				</td>
				<td>{{ j.cites }}</td>
			</tr>
			<tr>
				<td>
					<strong>即年指数</strong>
					<i>Immediacy index</i>
				</td>
				<td>{{ j.immediacyIndex }}</td>
			</tr>
			<tr>
				<td>
					<strong>特征因子</strong>
					<i>Eigenfactor score</i>
				</td>
				<td>{{ j.eigenFactor }}</td>
			</tr>
			<tr>
				<td>
					<strong>文章影响分数</strong>
					<i>Article influence score</i>
				</td>
				<td>{{ j.influenceScore }}</td>
			</tr>
			<tr>
				<td>
					<strong>语言</strong>
					<i>Language</i>
				</td>
				<td>
					{{ j.language.tr }}
					<i>{{ j.language.name }}</i>
				</td>
			</tr>
			<tr>
				<td>
					<strong>国家或地区</strong>
					<i>Country/Territory</i>
				</td>
				<td>
					{{ j.country.tr }}
					<i>{{ j.country.name }}</i>
				</td>
			</tr>
			<tr>
				<td>
					<strong>出版商</strong>
					<i>Publisher</i>
				</td>
				<td>{{ j.publisher.name }}</td>
			</tr>
			<tr>
				<td>
					<strong>出版商地址</strong>
					<i>Publisher address</i>
				</td>
				<td>{{ j.publisher.address }}</td>
			</tr>
		</table>
	</div>
</div>

<div class="units-row">
	<table class="table-bordered width-100">
		<tr>
			<th colspan="3">学科分类及排名</th>
		</tr>
		<tr>
			<td><strong>学科中文名</strong> <i>Subject Chinese</i></td>
			<td><strong>学科英文名</strong> <i>Subject English</i></td>
			<td><strong>排名</strong> <i>Ranking</i></td>
		</tr>
		{% for cat in j.category %}
		<tr>
			<td><a href="/category/{{ cat.sid }}">{{ cat.tr }}</a></td>
			<td><a href="/category/{{ cat.sid }}">{{ cat.name }}</a></td>
			<td>{{ cat.rank }}</td>
		</tr>
		{% end %}
	</table>
</div>

<div class="units-row">
	<table class="table-bordered width-100">
		<tr>
			<th>期刊历年相关数据</th>
		</tr>
		<tr>
			<td id="hc-factor"></td>
		</tr>
		<tr>
			<td id="hc-cite"></td>
		</tr>
		<tr>
			<td id="hc-article"></td>
		</tr>
	</table>
</div>

<div class="units-row">
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ j.jid }}" data-title="{{ j.title }}" data-url="/journal/{{ j.jid }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"sci"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
</div>

{% end %}