{% extends base.html %}

{% block title %} 修改密码 - 雅知期刊查询 {% end %}

{% block main %}
<div class="units-row">
	<div class="unit-20">
		<div class="nav nav-stacked">
			<ul>
				<li><a href="/scientist">个人信息</a></li>
				<li><a href="/focus">期刊关注</a></li>
				<li class="active"><a>密码修改</a></li>
			</ul>
		</div>
	</div>
	<div class="unit-80">
		<form class="forms" method="post" action="/password">
			<label>
				原始密码:
				<input type="password" name="old">
			</label>
			<label>
				新密码:
				<input type="password" name="new">
			</label>
			<label>
				确认密码:
				<input type="password" name="confirm">
			</label>
			<p><button type="submit" class="btn btn-small btn-blue">修改密码</button></p>
			<input type="hidden" name="next" value="{{ request.uri }}">
			{% raw xsrf_form_html() %}
		</form>
		{% if msg %}
		<p class="error">{{ msg }}</p>
		{% end %}
	</div>
</div>
{% end %}