{% extends base.html %}

{% block title %} {{ current_user.name  }} - 雅知期刊查询 {% end %}

{% block main %}
<div class="units-row">
	<div class="unit-20">
		<div class="nav nav-stacked">
			<ul>
				<li class="active"><a>个人信息</a></li>
				<li><a href="">期刊关注</a></li>
				<li><a href="/scientist/password">密码修改</a></li>
			</ul>
		</div>
	</div>
	<div class="unit-80">
		<p>邮箱: {{ current_user.email }}</p>
		<p>用户名: {{ current_user.name }}</p>
		<p>头像: <img src="{{ static_url("upload/avatar/%s.png" % current_user.uid) }}" width="36" height="36" onerror="this.src='{{ static_url("img/avatar.png") }}'"></p>
		<form class="forms" method="post" enctype="multipart/form-data" action="/avatar">
			<label>
				<input type="file" name="avatar">
				<div class="form-desc">支持png, jpg和gif格式, 大小不超过30K</div>
			</label>
			<p><button type="submit" class="btn btn-small btn-blue">修改头像</button></p>
			<input type="hidden" name="next" value="{{ request.uri }}">
			{% raw xsrf_form_html() %}
		</form>
		{% if msg %}
		<p class="error">{{ msg }}</p>
		{% end %}
	</div>
</div>
{% end %}